<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="createMapper">

<!-- 개인회원가입 --> 
<insert id="insertCus" parameterType="com.exe.dto.CustomerDTO">
	insert into CUSTOMER(cusId,cusName,cusPwd,cusEmail,cusTel,cusAddr,cusPass,cusCreated)
	values (#{cusId},#{cusName},#{cusPwd},#{cusEmail},#{cusTel},#{cusAddr},0,sysdate)
</insert>

<!-- 체육관회원가입 -->
<insert id="insertGym" parameterType="com.exe.dto.GymDTO">
	insert into GYM (gymId,gymType,gymName,gymPwd,gymEmail,gymTel,gymAddr,gymLongitude,gymLatitude
	,gymTrainer,gymTrainerPic,gymPic,gymProgram,gymFacility,gymHour,gymCreated,gymPass,gymOk)
	values (#{gymId},#{gymType},#{gymName},#{gymPwd},#{gymEmail},#{gymTel},#{gymAddr},1,1,
	#{gymTrainer},#{gymTrainerPic},#{gymPic},#{gymProgram},#{gymFacility},#{gymHour},sysdate,1,'false')
</insert>


<!-- 개인회원 아이디 중복 체크 -->
<select parameterType="com.exe.dto.GymDTO" id="cusidCheck" resultType="int">
	SELECT nvl(count(*),0) FROM customer WHERE cusId = #{cusId} 
</select>

<!-- 체육관회원 아이디 중복 체크 -->
<select parameterType="com.exe.dto.GymDTO" id="gymidCheck" resultType="int">
	SELECT nvl(count(*),0) FROM gym WHERE gymId = #{gymId} 
</select>

<!-- 개인회원 아이디 중복 체크 -->
<!-- <select parameterType="String" id="Id_Check" resultType="com.app.app.Dto.UserDto">SELECT cusId FROM customer where cusId = #{cusId} </select> -->

</mapper>
